/* Coolors Exported Palette - https://coolors.co/ff5964-a5f8d3-373f51-b7c0ee-cbf3d2 */

/* CSS HEX */
--bright-pink-crayola: #ff5964ff;
--aquamarine: #a5f8d3ff;
--charcoal: #373f51ff;
--periwinkle: #b7c0eeff;
--tea-green: #cbf3d2ff;

/* CSS HSL */
--bright-pink-crayola: hsla(356, 100%, 67%, 1);
--aquamarine: hsla(153, 86%, 81%, 1);
--charcoal: hsla(222, 19%, 27%, 1);
--periwinkle: hsla(230, 62%, 83%, 1);
--tea-green: hsla(131, 62%, 87%, 1);

/* SCSS HEX */
$bright-pink-crayola: #ff5964ff;
$aquamarine: #a5f8d3ff;
$charcoal: #373f51ff;
$periwinkle: #b7c0eeff;
$tea-green: #cbf3d2ff;

/* SCSS HSL */
$bright-pink-crayola: hsla(356, 100%, 67%, 1);
$aquamarine: hsla(153, 86%, 81%, 1);
$charcoal: hsla(222, 19%, 27%, 1);
$periwinkle: hsla(230, 62%, 83%, 1);
$tea-green: hsla(131, 62%, 87%, 1);

/* SCSS RGB */
$bright-pink-crayola: rgba(255, 89, 100, 1);
$aquamarine: rgba(165, 248, 211, 1);
$charcoal: rgba(55, 63, 81, 1);
$periwinkle: rgba(183, 192, 238, 1);
$tea-green: rgba(203, 243, 210, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ff5964ff, #a5f8d3ff, #373f51ff, #b7c0eeff, #cbf3d2ff);
$gradient-right: linear-gradient(90deg, #ff5964ff, #a5f8d3ff, #373f51ff, #b7c0eeff, #cbf3d2ff);
$gradient-bottom: linear-gradient(180deg, #ff5964ff, #a5f8d3ff, #373f51ff, #b7c0eeff, #cbf3d2ff);
$gradient-left: linear-gradient(270deg, #ff5964ff, #a5f8d3ff, #373f51ff, #b7c0eeff, #cbf3d2ff);
$gradient-top-right: linear-gradient(45deg, #ff5964ff, #a5f8d3ff, #373f51ff, #b7c0eeff, #cbf3d2ff);
$gradient-bottom-right: linear-gradient(135deg, #ff5964ff, #a5f8d3ff, #373f51ff, #b7c0eeff, #cbf3d2ff);
$gradient-top-left: linear-gradient(225deg, #ff5964ff, #a5f8d3ff, #373f51ff, #b7c0eeff, #cbf3d2ff);
$gradient-bottom-left: linear-gradient(315deg, #ff5964ff, #a5f8d3ff, #373f51ff, #b7c0eeff, #cbf3d2ff);
$gradient-radial: radial-gradient(#ff5964ff, #a5f8d3ff, #373f51ff, #b7c0eeff, #cbf3d2ff);